.nav {
  width: 98%;
  background-color: #ffffff3d;
    display: flex;
    height: 6vh;
    padding: 0 1em;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid black;
    align-items: center;
    position: sticky;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
  
    &_group {
      display: flex;
      gap: 1em;
    }
  
    &_link {
      text-decoration: none;
      color: #6d3014;
      &:hover {
        scale: 1.05;
        transition: 0.2s ease-in-out;
        color: #ffb937;
      }
      &:visited {
        color: #ebe5e3;
        text-decoration: none;
        &:hover {
          color: #ffb937;
        }
      }
    }
  }