/* src/components/Modal/Modal.module.scss */


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.modal {
  background-color: #ffffffe0;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 2rem;
  max-width: 600px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: black;
  box-sizing: border-box;
  text-align: center;
}

.modal h2 {
  margin-bottom: 1rem;
}



.confirmBtn {
  background-color: #33af39; /* green */
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #2a8a2c;
  }
}

.cancelBtn {
  background-color: #d9534f; /* bootstrap red */
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  margin-left: 1rem;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #b43a3a;
  }
}

.success {
  border: 2px solid green;
  background-color: #e6ffe6;
}

.error {
  border: 2px solid red;
  background-color: #ffe6e6;
}
